html, body{
    font-family: 'Roboto', sans-serif;
    color: #DEBAC0;
    background: #DEBAC0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background:#77567A;
    box-shadow: 0px 20px 10px -15px grey;
    padding: 10px 40px;
    display: grid;
    min-height: 0;
    min-width: 0;
    grid-area: 1/2/2/3;
    height: fit-content;
}
.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto minmax(0,2fr);
}
.side-bar{
    font-size: x-large;
    font-weight: 700;
    background-color: #2F323A;
    grid-area: 1/1/3/2;
    padding: 20px;
}
.logo img{
    width: 50px;
}
.logo{
    display: flex;
    flex: auto;
    align-items: center;
    gap: 10px;
}
.side-bar ul li{
    margin-bottom: 20px;
    padding-left: 20px;
    transition: all 0.5s;
}
.side-bar ul li:hover{
    text-shadow: 0px 0px 10px #e9d5ff;
    font-size: xx-large;
}
.panel{
    grid-area: 2/2/3/3;
    display: flex;

}
.icon{
    width:20px;
    margin: 0;
    padding: 0;
}

#home{
    list-style-image: url(Assets/home.svg);
    
}
#profile{
    list-style-image: url(Assets/account.svg);
}
#messages{
    list-style-image: url(Assets/message.svg);
}
#history{
    list-style-image: url(Assets/history.svg);
}
#tasks{
    list-style-image: url(Assets/list-box.svg);
}
#communities{
    list-style-image: url(Assets/account-group.svg);
}
#settings{
    list-style-image: url(Assets/cog.svg);
}
#support{
    list-style-image: url(Assets/help.svg);
}
#privacy{
    list-style-image: url(Assets/shield.svg);
}
.avatar{
    width: 50px
}
.top{
    grid-area: 1/1/2/2;
    height: fit-content;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 0 10px;
}
.lookup{
    display: flex;
    flex: auto;
}
.bell{
    width: 30px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}
.lookup img{
    width: 30px;
}
.lookup input{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    border-radius: 50px;
    border: none;
    flex: auto;
    background-color: #2F323A;
    gap: 20px;
    color: white;
    padding: 10px;
    max-width: 1000px;
    margin-right: 60px;
}
.id{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    color: white;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.left{
    color: white;
    display: flex;
    flex: auto;
    font-size: larger;
    align-items: center;
    gap: 10px;
}
.left>img{
    width: 100px;
    height: auto;
}
.buttons{
    display: flex;
    gap: 20px;
}
.buttons button{
    font-weight: bold;
    color: white;
    width:75px; 
    height:30px;
    border-radius: 50px;
    border-style: none;
    background-color: #2F323A;
    transition: all 0.5;
}
.buttons button:hover{
    box-shadow:  0 0 10px 1px white;
}
.lookup input:focus{
    outline: none;
}
#title{
    margin: 20px 0px 10px 10px;
    color: #2F323A;
    font-size: larger;
    font-weight: bolder;

}
.cards{
    color: #2F323A;
    margin: 10px 0 0 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.card{
    background-color: white;
    width: 30vw;
    height: 150px ;
    display: grid;
    grid-template-columns: 10px auto;
    border-radius: 10px;
    box-shadow: 5px 15px 10px -15px rgb(66, 65, 65);
    
}
.accent{
    background-color: #77567A;
    border-radius: 10px 0 0 10px;
}
.content{
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    
}
.card-title{
    margin-bottom: 10px;
}
.card-body{
    font-size: smaller;
}
.card-footer{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.social>#title{
    margin-left: 30px;
}

.announcements, .trending{
    background-color: white;
    color: #2F323A;
    border-radius: 10px;
    padding:20px;
    margin-left: 30px;
    margin-right:20px;
    box-shadow: 5px 15px 10px -15px rgb(66, 65, 65);
}

.ann-title{
    margin-bottom: 10px;
}
.ann-body{
    font-size: smaller;;
}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.small-pfp{
    width: 50px;
    height:50px
}
.user{
    font-size: small;
    font-weight: bolder;
}
.user-text{
    font-size: smaller;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
